.user-log-wrap {
  display: flex;
  flex-direction: column;
  padding: 3rem 4rem;
  gap: 2rem;

  .top-wrap {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--white-bg-color);
    border-radius: 0.8rem;
    color: var(--blue-color);
    align-items: center;

    .text {
      font-weight: 500;
      font-size: 1.8rem;
    }

    .btn-wrap {
      display: flex;
      gap: 2rem;

      .generate-btn {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        place-items: center;
        background-color: var(--white-bg-color);
        color: var(--blue-color);
        padding: 0 2rem;
        border: 0.1rem solid var(--blue-color);
      }
      .add-btn {
        padding: 0 2rem;
        color: var(--white-bg-color);
        gap: 1rem;
        display: flex;
        align-items: center;
      }
    }

    

    // mid-children-wrap-style
  }
  .search-input {
    width: 30.3rem;
  }

  .sort-by-wrap {
    position: relative;
    

    .sort-text-wrap {
      display: flex;
      gap: 1rem;
      align-items: center;
      background-color: var(--white-bg-color);
      padding: 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      height: 4rem;
    }

    .sort-by-drop-wrap {
      background-color: var(--white-bg-color);
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      border-radius: 0.5rem;
      padding: 1rem;
      width: 17rem;
      position: absolute;
      z-index: 1;
      right: 5rem;
      top: 5rem;
      box-shadow: var(--dark-box-shadow);
      animation: slideDown 0.3s ease-in-out;

      .header {
        background-color: #f6f6f6;
        padding: 1rem 2rem;
        border-radius: 0.3rem;
      }

      .check-box-wrap {
        display: flex;
        justify-content: space-between;

        &:nth-child(4) {
          border-bottom: 0.1rem solid var(--border-color);
          // padding-top: 1rem;
          padding-bottom: 1.5rem;
        }

        .check-label {
          display: flex;
          flex: 1;
          justify-content: space-between;
          cursor: pointer;
          align-items: center;

          .check-square {
            background-color: var(--white-bg-color);
            padding: 0.5rem;
            border-radius: 0.7rem;
            border: 0.1rem solid var(--border-color);

            .icon {
              display: flex;
              justify-content: center;
              color: var(--white-bg-color);
            }
          }
        }
        .check-input {
          display: none;

          &:checked ~ .check-label .check-square {
            background-color: var(--blue-color);

            .icon {
              color: var(--white-bg-color);
            }
          }
        }
      }
    }
  }
}

@keyframes slideDown {
  0% {
    opacity: 0.7;
    transform: translateY(-8%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
