.table-container-wrap {
  width: 100%;
  font-weight: normal;
  position: relative;
}
.table-container-wrap .table-box {
  width: 100%;
  border-collapse: collapse;
}
.table-container-wrap .table-box .table-head {
  background-color: var(--white-bg-color);
}
.table-container-wrap .table-box .table-head th {
  padding: 1rem 0 1rem 0.8rem;
  text-align: left;
  font-weight: normal;
  font-size: 1.2rem;
}
.table-container-wrap .table-box .table-check-input-row {
  display: none;
}
.table-container-wrap .table-box .table-check-input-row:checked ~ .table-check-label-input-row {
  background-color: var(--light-blue);
  border: 0.1rem solid var(--light-blue);
}
.table-container-wrap .table-box .table-check-input-row:checked ~ .table-check-label-input-row .icon {
  visibility: visible;
}
.table-container-wrap .table-box .table-check-label-input-row {
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: #f6f8f9;
  border-radius: 0.3rem;
  border: 0.1rem solid var(--border-color);
}
.table-container-wrap .table-box .table-check-label-input-row .icon {
  width: 0.75rem;
  height: 0.75rem;
  fill: #ffffff;
  visibility: hidden;
}
.table-container-wrap .table-box tbody {
  background-color: var(--light-grey-color);
  text-align: left;
}
.table-container-wrap .table-box tbody tr {
  position: relative;
  overflow-x: auto;
}
.table-container-wrap .table-box tbody tr td {
  color: var(--dark-color);
  padding: 1rem 0 1rem 0.8rem;
}
.table-container-wrap .table-box tbody tr .row-icon-wrap {
  display: flex;
}
.table-container-wrap .table-box tbody tr .status {
  background-color: var(--light-green-color);
  color: var(--green-color);
  padding: 0.5rem;
  margin-top: 0.9rem;
  border-radius: 0.4rem;
  display: inline-block;
  width: 8rem;
  text-transform: capitalize;
}
.table-container-wrap .table-box tbody tr .pending-status {
  color: var(--yellow-color);
  background-color: var(--light-yellow-color);
}
.table-container-wrap .table-box tbody tr .cancel-status {
  color: var(--thick-red-color);
  background-color: var(--light-red-color);
}
.table-container-wrap .table-box tbody tr .free-trial-status {
  background-color: var(--border-color);
  color: var(--dark-color);
}
.table-container-wrap .table-box tbody tr .action {
  cursor: pointer;
}
.table-container-wrap .table-box tbody tr .edit-delete-wrap {
  display: flex;
  gap: 3rem;
  padding: 1rem 0.8rem;
}
.table-container-wrap .table-box tbody tr .edit-delete-wrap :nth-child(1),
.table-container-wrap .table-box tbody tr .edit-delete-wrap :nth-child(2) {
  cursor: pointer;
}
.table-container-wrap .table-box tbody tr .drop-down-box {
  width: 23.2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  padding: 2rem;
  border-radius: 0.8rem;
  gap: 2rem;
  position: absolute;
  top: 3rem;
  right: 9rem;
  z-index: 3;
  cursor: pointer;
}
.table-container-wrap .table-box tbody .drop-down-show-box {
  animation: dropDownAnime 0.3s ease-in-out;
}
.table-container-wrap .table-box tbody .view-box {
  display: flex;
  gap: 1rem;
}
.table-container-wrap .table-box .table-odd-even-body:nth-child(odd) {
  background-color: var(--white-bg-color);
}
.table-container-wrap .table-box .table-odd-even-body:nth-child(even) {
  background-color: #f6f8f9;
}
.table-container-wrap .pagination-wrap {
  margin-top: 3rem;
}

@keyframes dropDownAnime {
  0% {
    opacity: 0.7;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}/*# sourceMappingURL=table-container.css.map */