.progress-bar-box {
  transition: height 0.3s ease;
  position: relative;
  margin: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  min-height: 30rem;

  .progress-bar {
    width: 2.1rem;
    border-radius: 0.5rem 0.5rem 0 0;
  }
}
