.main-table-wrap-start {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;

  .main-table-header {
    justify-content: space-between;
    font-weight: 600;
    color: var(--dark-color);
    width: 100%;
    border-collapse: collapse;
    display: flex;
    // position: sticky;
    // top: 0;
    // background-color: var(--light-blue-bg-color);
    border-bottom: 0.1rem solid #e5e9eb;
    border-radius: 0.6rem 0.6rem 0 0;

    .main-table-header-cell {
      flex: 1;
      padding-bottom: 1rem;
      padding: 0.5rem;
      width: 100%;
      margin: 1rem;
   
    }
  }

  // .main-table-header-scroll {
  //   background-color: var(--white-bg-color);
  //   transition: background-color 0.3s;
  //   z-index: 1000;
  // }

  .main-table-body-box {
    display: flex;
    font-weight: 500;
    border-bottom: 0.1rem solid #e5e9eb;
    text-transform: capitalize;
    

    &:last-child {
      border-bottom: none;
    }

    .main-table-cell {
      // display: table-cell;
      flex: 1;
      padding: 0.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      place-items: center;
      padding-bottom: 1rem;
      margin: 1rem;
    }

    .user-wrap {
      display: flex;
      flex-direction: column;

      .user-company {
        color: #0e73f6;
        font-size: 1rem;
        font-weight: 400;
      }
    }
    .org-wrap {
      flex: 2;
      display: flex;
      gap: 0.5rem;
      align-items: center;

      .icon {
        width: 1.92rem;
        margin-top: 0.2rem;
      }
      .org-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .status {
      background-color: var(--light-green-color);
      color: var(--green-color);
      padding: 0.5rem;
      height: 3rem;
      justify-content: center;
      margin-top: 1rem;
      border-radius: 0.4rem;
      text-transform: capitalize;
      text-align: center;
    }

    .failed-status {
      color: var(--thick-red-color);
      background-color: var(--light-red-color);
    }
  }
}
