.tab-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: 100%;

  .tab-box {
    display: flex;
    justify-content: space-between;

    .left-box {
      display: flex;
      color: var(--dark-color);
      font-weight: 500;
      gap: 2rem;
      justify-content: left;
      position: relative;

      .tab-items {
        padding-left: 3rem;
        padding-right: 3rem;
        cursor: pointer;
        text-align: center;
        text-transform: capitalize;
        padding-bottom: 2rem;
      }

      .active-tab {
        font-weight: 600;
        border-bottom: 0.4rem solid var(--blue-color);
        color: var(--blue-color);
      }

      .active-check-tab {
        color: var(--green-color);
        font-weight: 600;
        border-bottom: 0.4rem solid var(--green-color);
      }

      .inactive-tab {
        color: var(--yellow-color);
        font-weight: 600;
        border-bottom: 0.4rem solid var(--yellow-color);
      }
    }

    .right-box {
      display: flex;
      gap: 2rem;
      margin-top: -1rem;
    }
  }

  .horizontal-line {
    border-top: 0.1rem solid var(--border-color);
  }
}
