.admin-main-wrap {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .dashboard-card-top-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 3rem;
    grid-column-gap: 2rem;

    .card-box {
      padding: 1.2rem 2rem;
      background-color: var(--white-bg-color);
      box-shadow: var(--dark-box-shadow);
      border-radius: 0.8rem;
      text-transform: capitalize;

      display: flex;
      flex-direction: column;
      gap: 2rem;
      cursor: pointer;

      .card-title {
        color: var(--dark-color);
        font-size: 1.6rem;
        font-weight: 500;
      }

      .card-body-wrap {
        display: flex;
        justify-content: space-between;

        .number {
          font-weight: 500;
          font-size: 4.8rem;
          color: var(--gray-scale-color);
        }
        .status-title-wrap {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 2rem;
          .status-title-box {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            :nth-child(1) {
              color: var(--green-color);
              font-weight: 500;
            }

            :nth-child(2) {
              color: var(--thick-red-color);
              font-weight: 500;
            }
          }
          .status-num-wrap {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            :nth-child(1) {
              color: var(--green-color);
              font-weight: 500;
            }

            :nth-child(2) {
              color: var(--thick-red-color);
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  .border-line {
    padding-top: 2rem;
    border-bottom: 0.1rem solid var(--border-color);
  }

  //   mid-layer-wrap style
  .mid-layer-wrap {
    display: grid;
    // justify-content: space-between;
    // gap: 2rem;
    grid-template-columns: 0.2fr 1fr;
    // justify-content: space-between;
    grid-gap: 3rem;
  }
}
